@model IEnumerable<string>
@{
    Layout = "~/Views/Shared/header.cshtml";
}
<main>
    <h1>Ошибка.</h1>
    <h2>При обработке запроса произошла ошибка.</h2>
    <ul>
        @if (Model != null)
        {
            foreach (string error in Model)
            {
                <li>@error</li>
            }
        }
    </ul>
</main>

