@model IEnumerable<string>

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div style="text-align: center;" class="alert alert-danger">
    <h3>Ошибка!</h3>
    <p>При обработке запроса произошла ошибка</p>
    <ul>
        @if (Model != null)
        {
            foreach (string error in Model)
            {
                <li>@error</li>
            }
        }
    </ul>
</div>