@using real_estate_agency.Resources;
@model IEnumerable<string>
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div style="text-align: center;" class="alert alert-danger">
    <h3>@Resource.ErrorPageTitle</h3>
    <p>@Resource.ErrorPageMessage</p>

    <ul>
        @if (Model != null)
        {
            foreach (string error in Model)
            {
                <li>@error</li>
            }
        }
    </ul>

</div>
