@using Microsoft.AspNet.Identity;

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<main>
    <div class="add-title">
        <h2>Add something new</h2>
    </div>
    @using (Html.BeginForm("Add", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="UserAuthorId" value="@User.Identity.GetUserId()" />
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <div class="add-container">
            <table class="add-table">
                <tr>
                    <th>PrevImage</th>
                    <td><input type="file" name="uPrevImage" /></td>
                </tr>
                <tr>
                    <th>Заголовок</th>
                    <td><input type="text" name="Title" /></td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td>
                        <select name="Type">
                            <option>Долгосрочная аренда квартир</option>
                            <option>Кварира посуточно</option>
                            <option>Квартира с почасовой оплатой</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td><input type="number" name="Area" /></td>
                </tr>
                <tr>
                    <th>Автор</th>
                    <td><input type="text" name="Author" /></td>
                </tr>
                <tr>
                    <th>Цена</th>
                    <td><input type="number" name="Value" /></td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td><textarea name="Details"></textarea></td>

                </tr>
                <tr>
                    <th>Этаж</th>
                    <td><input type="number" name="Floors" /></td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td><input type="number" name="FloorsCount" /></td>
                </tr>
                <tr>
                    <th>Количество комнат</th>
                    <td><input type="number" name="RoomsCount" /></td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>
                        <div class="phonediv">
                            <input type="tel" name="Phone" />
                        </div>
                        <input type="button" value="+" onclick="add_phone_field();" />
                    </td>
                </tr>
                <tr>
                    <td class="add-submit" colspan="2"><input type="submit" value="Добавить" /></td>
                </tr>
            </table>
        </div>
    }
</main>