@using real_estate_agency.Models;
@using real_estate_agency.Infrastructure;

@model AppUser
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Личный кабинет</h1>
        <!--Menu-->
        <ul>
            <li>
                @Ajax.ActionLink("Мои объявления", "MyAds", "Cabinet", 
               new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            <li>
                @Ajax.ActionLink("Мои закладки", "MyMarks", "Cabinet", 
               new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            <li>
                @Ajax.ActionLink("Профиль", "ProfileSettings", "Cabinet", new { userId = Model.Id},
               new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            @if(PermissionDirectory.IsAdmin(User))
            {
                @Html.ActionLink("Административная панель", "AdminPanel", "Admin");
            }
        </ul>
    </div>

    <div id="contentDisplay">

    </div>
</body>
</html>
