/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fcfcfc;
}

#map {
    height: 600px;
    background-color: gray;
}

.clearfix {
    clear: both;
}

/* NAVIGATION */

.navigation {
    display: flex;
    width: 100%;
    padding: 20px 5%;
    font-size: 24px;
    margin-bottom: 20px;
    background: #485a90;
    border-bottom: 5px solid white;
    color: #fff;
}

    .navigation a {
        color: #fff;
        text-decoration: none;
    }

.logo-block {
    width: 50%;
    font-weight: bold;
    margin: auto;
}

.logo-img {
    max-width: 50px;
    max-height: 50px;
}

.buttons-block {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

    .buttons-block li {
        list-style-type: none;
        display: inline-block;
        transition: 0.2s;
    }

        .buttons-block li:hover {
            background: #fff;
            border-radius: 5px;
            transition: 0.2s;
        }

        .buttons-block li .nav-link:hover {
            color: #485a90;
            transition: 0.2s;
        }

    .buttons-block ul {
        margin: 0;
    }

/*PAGES */

.box {
    padding: 15px 10px;
    border-bottom: 1px solid #c2bfcb;
    transition: 0.7s;
}

.quantity-box {
    position: absolute;
    bottom: 0;
    background-color: #b0b0b0;
    font-size: 18px;
}

    .quantity-box strong {
        padding: 0 5px;
    }

.box:hover {
    background: #b6d3ff;
    transition: 0.5s;
}

.img-box {
    width: 100%;
    /*float: left;*/
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

    .img-box img {
        width: 100%;
        height: auto;
        max-height: 200px;
        border: 4px solid #b0b0b0;
        border-radius: 20px;
    }

.block .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.info-box {
    /*float: right;*/
    width: 100%;
    padding: 10px;
}

main {
    width: 90%;
    margin-left: 5%;
}

.information {
    width: 80%;
    margin-left: 10%;
}

.general-info {
    width: 50%;
    padding: 5px 20px;
}

.prev-image {
    width: 50%;
    padding: 10px;
    text-align: center;
}

    .prev-image img {
        width: auto;
        max-height: 500px;
        max-width: 100%;
    }

.detail-title {
    padding: 15px;
}

.description {
    padding: 20px 0px;
}

.image-set {
    text-align: justify;
}

    .image-set img {
        height: 180px;
        width: auto;
        padding: 10px 0px;
    }

.map-block {
    padding: 25px 0px;
}

.information .row {
    background-color: #b6d3ff;
    padding: 10px 0px;
    border-bottom: 1px solid #c2bfcb;
}

.pagesSwitch {
    text-align: center;
}

/* REMOVE BUTTON */

.remove {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.block .box .remove:hover {
    opacity: 1;
}

.block .box .remove:before, .block .box .remove:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 17px;
    width: 2px;
    background-color: #333;
}

.block .box .remove:after {
    transform: rotate(45deg);
}

.block .box .remove:before {
    transform: rotate(-45deg);
}

/*ADD PAGE*/

.add-title {
    margin: 15px;
}

.add-table {
    width: 90%;
    margin-left: 5%;
}

    .add-table td, .add-table th {
        padding: 5px;
    }

    .add-table th {
        text-align: right;
        width: 35%;
    }

    .add-table input, .add-table textarea {
        width: 80%;
        padding: 5px;
    }

    .add-table textarea {
        min-height: 200px;
    }

.add-container {
    margin-bottom: 10%;
}

.add-submit {
    text-align: center;
}

/*EDIT BUTTON*/
.edit {
    position: absolute;
    right: 19px;
    top: 46px;
    opacity: 0.3;
    color: black;
}

.block .box .edit:before {
    position: absolute;
    left: 15px;
    content: '\270F';
    font-size: 18px;
    height: 10px;
    width: 0px;
    transform: rotate(135deg);
}

.block .box .edit:hover {
    opacity: 1;
    color: black;
}

footer {
    width: 100%;
    padding: 10px 5%;
    font-size: 12px;
    margin-top: 20px;
    background: #485a90;
    border-top: 5px solid white;
    color: #fff;
}

.filters {
    display: flex;
    flex-flow: row wrap;
}

.filter {
    margin: 0 5px;
}

    .filter input,
    .filter select {
        display: block;
        margin: 5px;
    }

.search {
    position: relative;
}

.filter-search {
    position: absolute;
    top: 20%;
}

.filter-field,
.sort-dropdown {
    max-width: 180px;
    max-height: 25px;
}

.sort-dropdown {
    max-height: 25px;
}

.spoiler-title {
    cursor: pointer;
}

.spoiler-body {
    background: #f1f1f1;
}
