/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fcfcfc;
}

#map {
    height: 600px;
    background-color: gray;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.custom-navbar-toggler {
    border-color: rgb(255,255,255);
}

    .custom-navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

/* NAVIGATION */
.navbar {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    -webkit-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.9);
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.9);
}

    .navbar .nav-link {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .navbar .nav-link,
    .navbar-brand {
        color: #fff;
    }

        .navbar-brand:hover {
            color: #e7a61a;
        }

    .navbar .text-item:hover,
    .navbar .text-item:active {
        background-color: #e7a61a;
        border-radius: 10px;
    }

.navigation {
    display: flex;
    width: 100%;
    padding: 20px 5%;
    font-size: 24px;
    margin-bottom: 20px;
    background: #485a90;
    border-bottom: 5px solid white;
    color: #fff;
}

    .navigation a {
        color: #fff;
        text-decoration: none;
    }

.dropdown-toggle::after {
    display: none
}

.flag {
    width: 35px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.lang-name {
    padding-left: 5px;
}

.logo-block {
    width: 50%;
    font-weight: bold;
    margin: auto;
}

.logo-img {
    max-width: 50px;
    max-height: 50px;
}

.buttons-block {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

    .buttons-block li {
        list-style-type: none;
        display: inline-block;
        transition: 0.2s;
    }

        .buttons-block li:hover {
            background: #fff;
            border-radius: 5px;
            transition: 0.2s;
        }

        .buttons-block li .nav-link:hover {
            color: #485a90;
            transition: 0.2s;
        }

    .buttons-block ul {
        margin: 0;
    }

/*INDEX HOME*/

.main-index {
    padding-top: 50px;
}

.parsing-button {
    width: 100%;
    background-color: #485a90;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

    .parsing-button:hover {
        background-color: #e7a61a;
    }

.parser-block {
}

.filter-block {
    margin: 10px 0;
}

.active-mark {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("images/marked.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
}

.non-active-mark {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("images/non-marked.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
}

.box .type {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box .title {
    font-size: 16px;
    border-radius: 8px;
    -background-color: yellow;
    font-weight: bold;
    text-align: center;
}


/*PAGES */

/* ADD/EDIT */

.add-edit-phone-photo-field {
    display: inline-block;
    width: 85%;
}

.add-edit-phone-photo-remove-button {
    display: inline-block;
    width: 10%;
    background-color: orange;
    float: right;
    cursor: pointer;
}

    .add-edit-phone-photo-remove-button:active,
    .add-edit-phone-photo-remove-button:focus,
    .add-edit-phone-photo-remove-button:active:hover,
    .add-edit-phone-photo-remove-button:active:focus {
        background-color: orange !important;
        color: #fff;
    }

.add-edit-phone-photo-add-button {
    width: 10%;
    background-color: green;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

    .add-edit-phone-photo-add-button:active,
    .add-edit-phone-photo-add-button:focus,
    .add-edit-phone-photo-add-button:active:hover,
    .add-edit-phone-photo-add-button:active:focus {
        background-color: green !important;
        color: #fff;
    }

/**/

.box {
    padding: 15px 10px;
    border-bottom: 1px solid #c2bfcb;
    transition: 0.7s;
}

.quantity-box {
    position: absolute;
    bottom: 0;
    background-color: #b0b0b0;
    font-size: 18px;
}

    .quantity-box strong {
        padding: 0 5px;
    }

.box:hover {
    background: #b6d3ff;
    transition: 0.5s;
}

.img-box {
    outline: 0;
    color: #212529;
    margin: 20px;
    height: 260px;
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.info-box {
    /*float: right;*/
    width: 100%;
    padding: 10px;
}

main {
    width: 90%;
    margin-left: 5%;
}

.information {
    width: 80%;
    margin-left: 10%;
}

.general-info {
    width: 50%;
    padding: 5px 20px;
}

.prev-image {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.image-set {
    width: 300px;
}

    .image-set img {
        width: 300px !important;
        height: auto;
    }

.prev-image img {
    width: auto;
    max-height: 500px;
    max-width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: red !important;
}

.detail-title {
    padding: 15px;
}

.description {
    padding: 20px 0px;
}

.image-set {
    text-align: justify;
}

    .image-set img {
        height: 180px;
        width: auto;
        padding: 10px 0px;
    }

.map-block {
    padding: 25px 0px;
}

.information .row {
    background-color: #b6d3ff;
    padding: 10px 0px;
    border-bottom: 1px solid #c2bfcb;
}

.pagesSwitch {
    text-align: center;
}

/* REMOVE BUTTON */

.remove {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.block .box .remove:hover {
    opacity: 1;
}

.block .box .remove:before, .block .box .remove:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 17px;
    width: 2px;
    background-color: #333;
}

.block .box .remove:after {
    transform: rotate(45deg);
}

.block .box .remove:before {
    transform: rotate(-45deg);
}



/*ADD PAGE*/

.add-title {
    margin: 15px;
}

.add-table {
    width: 90%;
    margin-left: 5%;
}

    .add-table td, .add-table th {
        padding: 5px;
    }

    .add-table th {
        text-align: right;
        width: 35%;
    }

    .add-table input, .add-table textarea {
        width: 80%;
        padding: 5px;
    }

    .add-table textarea {
        min-height: 200px;
    }

.add-container {
    margin-bottom: 10%;
}

.add-submit {
    text-align: center;
}

/*EDIT BUTTON*/
.edit {
    position: absolute;
    right: 19px;
    top: 46px;
    opacity: 0.3;
    color: black;
}

.block .box .edit:before {
    position: absolute;
    left: 15px;
    content: '\270F';
    font-size: 18px;
    height: 10px;
    width: 0px;
    transform: rotate(135deg);
}

.block .box .edit:hover {
    opacity: 1;
    color: black;
}

footer {
    width: 100%;
    padding: 10px 5%;
    font-size: 12px;
    margin-top: 20px;
    background: #485a90;
    border-top: 5px solid white;
    color: #fff;
}

.filters {
    display: flex;
    flex-flow: row wrap;
}

    .filters .filter-button {
        width: 180px;
    }

.filter {
    margin: 0 5px;
}

    .filter input,
    .filter select {
        display: block;
        margin: 5px;
    }

.search {
    position: relative;
}

.filter-search {
    position: absolute;
    top: 20%;
}

.filter-field,
.sort-dropdown {
    max-width: 180px;
}

.sort-dropdown {
}

.spoiler-title {
    cursor: pointer;
}

.spoiler-body {
    background: #f1f1f1;
}

.validation-summary-errors ul {
    list-style-type: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

    .validation-summary-errors ul li {
        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }

.reset-password-string {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 3;
}

/*CABINET*/

.cabinet {
    margin-bottom: 20px;
}

    .cabinet .cabinet-item {
        text-align: center;
    }

        .cabinet .cabinet-item a:hover {
            text-decoration: none;
            color: #000;
        }

        .cabinet .cabinet-item .active {
            color: #000;
        }

.success-message {
    list-style-type: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.notification-date {
    font-weight: bold;
}

.notification-message {
}

.notification-sender {
    font-weight: bold;
}

.notification-sender-name {
    font-weight: normal;
}

.notification-sender-username {
    font-weight: normal;
}

/*отображение в одну линию поля и кнопки удаления поля для доп. картинок/телефонов*/
.one-line {
    width: auto;
    display: inline;
}


@media screen and (max-width: 500px) {
    .filters .filter {
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .add-edit-phone-photo-field {
        width: 75%;
    }

    .add-edit-phone-photo-remove-button {
        width: 20%;
    }

    .add-edit-phone-photo-add-button {
        width: 20%;
    }
}
