* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar-collapse {
    margin-left: 30%;
}

.block-1 {
    display: inline-block;
    background: #f4f8ff;
}

.block-2 {
    display: inline-block;
}

.block-3 {
    display: inline-block;
    background: #f4f8ff;
}

.box {
    height: 300px;
    background: #d1e2ff;
    padding-top: 20px;
}

.img-box {
    width: 50%;
    height: 200px;
}

.text-box {
    width: 50%;
}

button {
    display: block;
    margin: 20px auto;
}

.img-box img {
    width: 250px;
    height: 200px;
}
