
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModeratorPanel</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Страница модератора</h1>
    <div id="search-user-panel">
        @{ Html.RenderAction("SearchUserPanel");}
    </div>
</body>
</html>
