@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">Панель модератора</h3>
                <fieldset>
                    <div id="search-user-panel">
                        @{ Html.RenderAction("SearchUserPanel", "Moderator"); }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>