
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveAd</title>
</head>
<body>
    <div> 
        <h1>Удаление объявления пользователя</h1>

    </div>
</body>
</html>
