@model string
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailSended</title>
</head>
<body>
    <div> 
        На вашу почту "@Model" было отправлено письмо с ссылкой для активации учетной записи!
    </div>
</body>
</html>
