@model string
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordResetRequest</title>
</head>
<body>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Восстановление пароля</h3>
                    <div class="alert alert-info">
                        На указанный адрес будет отправлено сообщение со специальной ссылкой,
                        с помощью которой вы сможете восстановить пароль.
                    </div>
                    @Html.ValidationSummary(false)
                    <fieldset>
                        @using (Html.BeginForm("PasswordResetRequest", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.TextBox("Email", null, new { @class = "form-control input-lg", @placeholder = "Введите email" })
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" value="Отправить" type="submit">
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
