@model string
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordResetRequest</title>
</head>
<body>
    <div> 
        На указанный адрес будет отправлено сообщение со специальной ссылкой, 
        с помощью которой вы сможете восстановить пароль.
    </div>
    <div>
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("PasswordResetRequest", "Account", FormMethod.Post))
        {

            <div>
                <label>Email</label>
                @Html.TextBox("email")
            </div>
            <button type="submit">ОК!</button>
        } 
    </div>
</body>
</html>
